In [1]:
import pandas as pd

In [2]:
from datetime import datetime as dt

#### 1. Write a Python script to display the
#### a. Current date and time
#### b. Current year
#### c. Month of year
#### d. Week number of the year
#### e. Weekday of the week
#### f. Day of year
#### g. Day of the month
#### h. Day of week

In [3]:
Current_date_and_time=pd.Timestamp.now()
Current_date_and_time

Timestamp('2020-01-03 19:20:16.784798')

In [5]:
Current_year=pd.Timestamp.now().year
Current_year

2020

In [10]:
Month_of_year=pd.Timestamp.now().month
Month_of_year

1

In [18]:
Week_number_of_the_year=pd.Timestamp.now().weekofyear
Week_number_of_the_year

1

In [21]:
week_day_of_week=pd.Timestamp.now().dayofweek
week_day_of_weekDay of year

4

In [22]:
Day_of_year=pd.Timestamp.now().dayofyear
Day_of_year

3

In [25]:
Day_of_the_month=pd.Timestamp.now().dayofyear
Day_of_the_month

3

#### 2. Write a Python program to convert a string to datetime.
Sample String : Jan 1 2014 2:43PM 

Expected Output : 2014-07-01 14:43:00

In [3]:
String='Jan 1 2014 2:43PM '

In [6]:
pd.to_datetime('Jan 1 2014 2:43PM',format='%b %d %Y %I:%M%p')

Timestamp('2014-01-01 14:43:00')

#### 3. Write a Python program to subtract five days from current date.

Current Date : 2015-06-22

5 days before Current Date : 2015-06-17

In [27]:
Current_Date='2015-06-22'

In [28]:
pd.to_datetime(Current_Date,format='%Y-%m-%d')+pd.DateOffset(days=-5)

Timestamp('2015-06-17 00:00:00')

#### 4. Write a Python program to convert unix timestamp string to readable date.

Sample Unix timestamp string : 1284105682
    
Expected Output : 2010-09-10 13:31:22

In [1]:
import datetime
print(datetime.datetime.fromtimestamp(int("1284105682")).strftime('%Y-%m-%d %H:%M:%S'))

2010-09-10 13:31:22

#### 5. Convert the below Series to pandas datetime : 

DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

Make sure that the year is 19XX not 20XX

In [23]:
DoB = pd.Series(["07Sep59","01Jan55","15Dec47","11Jul42"])

In [25]:
d2=pd.to_datetime(DoB,format="%d%b%y")

In [11]:
d3=d2+pd.DateOffset(years=-100)

In [14]:

d3

0   1959-09-07
1   1955-01-01
2   1947-12-15
3   1942-07-11
dtype: datetime64[ns]

In [26]:

import datetime as dt
df = pd.DataFrame({"dob":d2})
print(df["dob"])
df

df["dob"] = pd.to_datetime(pd.to_datetime(df.dob,format="%d-%m-%y").dt.strftime("19%y-%m-%d"))
print(df["dob"])

0   2059-09-07
1   2055-01-01
2   2047-12-15
3   2042-07-11
Name: dob, dtype: datetime64[ns]
0   1959-09-07
1   1955-01-01
2   1947-12-15
3   1942-07-11
Name: dob, dtype: datetime64[ns]

#### 6. Write a Python program to get days between two dates.

In [19]:
from datetime import date
date1 = date(2019, 7, 15)
date2 = date(2018, 7, 21)
diff = date2 - date1
print(diff.days)

-359

#### 7. Convert the below date to datetime and then change its display format using the .dt module

Date = "15Dec1989"

Result : "Friday, 15 Dec 98"

In [29]:
from datetime import datetime as dt

In [37]:
Date = "15Dec1989"

In [38]:
date1=pd.to_datetime(Date,format='%d%b%Y')+pd.DateOffset(years=9)

In [39]:
date1.strftime('%A, %d %b %y')

'Tuesday, 15 Dec 98'